.page {
	background-color: hsl(var(--b1));
	opacity: 0.8;
	background-image: radial-gradient(hsl(var(--a)) 1.1px, transparent 1.1px),
		radial-gradient(hsl(var(--a)) 1.1px, hsl(var(--b1)) 1.1px);
	background-size: 44px 44px;
	background-position: 0 0, 22px 22px;
}
